version: "3.9"

services:
  api:
    container_name: workout-api
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    ports:
      - "5001:5001"
