name: Deploy to EC2

on:
  push:
    branches:
      - main     

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd ~/workout-api

            echo "Pulling latest code..."
            git pull origin main

            echo "Building and restarting containers..."
            docker-compose down
            docker-compose up --build -d

            echo "Deployment finished!"
